@font-face {
    font-family: 'Charter Regular';
    src: url('font/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter Bold';
    src: url('font/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter Italic';
    src: url('font/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter Bold Italic';
    src: url('font/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Charter Regular', sans-serif;
    /* other styles... */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
    margin-left: 15px; /* Add left margin */
    margin-right: 15px; /* Add right margin */
}

h1 {
    font-family: 'Charter Bold', sans-serif;
    color: #0266d6;
    border-bottom: 0.5px solid #ccc;
    padding-bottom: 5px;
}

/* Apply the Arabic font to H2 elements with a specific class */
h2.arabic-text {
    font-family: 'Jomhuria', sans-serif;
    font-size: 1.15em;
}

/* Default styling for H2 elements */
h2 {
    text-align: center;
    font-size: 1.15em;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;    
    margin-bottom: 5px;
}

h4 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.small-text {
    text-align: center;
    font-size: 15px;
}

.centered-paragraph {
    text-align: center;
}

em {
    font-family: 'Charter Italic', sans-serif;
}

strong em {
    font-family: 'Charter Bold Italic', sans-serif;
}

#language-buttons {
    text-align: center;
    margin: 20px 0;
}

#language-buttons button {
    font-family: 'Charter Regular', sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
}

.separator-text {
    font-family: 'Charter Bold Italic', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 7px;
}

#social-links {
    text-align: center;
    margin: 20px 0;
}

#social-links a img {
    width: 25px;
    height: auto;
}

#social-links a {
    display: inline-block;
    margin: 0 10px;
}

/* Add these styles for pagination and small logo */

#pagination {
    text-align: center;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button, .home-button {
    font-family: 'Charter Regular', sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.pagination-button:hover, .home-button:hover {
    text-decoration: underline;
}

.home-button {
    margin-left: 5px;
    margin-right: 5px;
}

#small-logo {
    width: 8%;
    display: block;
    margin: 1px auto;
}

/* Additional styles for numbering, home button, and small logo */

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
}

.home-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-family: 'Charter Regular', sans-serif;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.home-button:hover {
    text-decoration: underline;
}

/* Additional styles for bold and bigger article titles */

ul li {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 0.5px solid #ccc;
    padding-bottom: 5px;
}

ul li a {
    color: #000000;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.article-content {
    font-size: 18px !important;
    line-height: 1.4 !important;
    margin-bottom: 15px
}

/* Additional styles for centering and button size */

#pagination {
    text-align: center;
}

/* Additional styles for the new content */
.additional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

#additional-image {
    width: 25px; /* Adjust the width of the additional image */
    height: auto;
}

.additional-text {
    font-family: 'Charter Regular', sans-serif;
    font-size: 12px; /* Adjust the font size as needed */
    margin-top: 0; /* Adjust the margin as needed */
}

/* Specific styles for the front page */
body.front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

body.front-page img {
    width: 30%;
    max-width: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Night mode styles (you can customize these) */
body.night-mode {
    background-color: #222;
    color: #fff;
}

/* Toggle switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #444;
}

input:focus + .slider {
    box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Night mode toggle button styles */
#night-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: #fff;
}

#mode-label {
    margin-left: 10px;
}
