@font-face {
    font-family: 'Charter Regular';
    src: url('font/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter Bold';
    src: url('font/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter Italic';
    src: url('font/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter Bold Italic';
    src: url('font/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Charter Regular', sans-serif;
}

h1 {
    font-family: 'Charter Bold', sans-serif;
}

em {
    font-family: 'Charter Italic', sans-serif;
}

strong em {
    font-family: 'Charter Bold Italic', sans-serif;
}
