body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
    margin-left: 15px; /* Add left margin */
    margin-right: 15px; /* Add right margin */
}

h1 {
    font-family: 'Charter Bold', sans-serif;
    color: #0266d6;
    border-bottom: 0.5px solid #ccc;
    padding-bottom: 5px;
}

/* Apply the Arabic font to H2 elements with a specific class */
h2.arabic-text {
    font-family: 'Jomhuria', sans-serif;
    font-size: 1.15em;
}

/* Default styling for H2 elements */
h2 {
    font-size: 1.15em;
    margin-bottom: 5px;
}

em {
    font-family: 'Charter Italic', sans-serif;
}

strong em {
    font-family: 'Charter Bold Italic', sans-serif;
}

#language-buttons {
    text-align: center;
    margin: 20px 0;
}

#language-buttons button {
    font-family: 'Charter Regular', sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.separator-text {
    font-family: 'Charter Bold Italic', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin: 0 10px;
}

#social-links {
    text-align: center;
    margin: 20px 0;
}

#social-links a img {
    width: 25px;
    height: auto;
}

#social-links a {
    display: inline-block;
    margin: 0 10px;
}

/* Add these styles for pagination and small logo */

#pagination {
    text-align: center;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button, .home-button {
    font-family: 'Charter Regular', sans-serif;
    font-size: 14px;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.pagination-button:hover, .home-button:hover {
    text-decoration: underline;
}

.home-button {
    margin-left: 5px;
    margin-right: 5px;
}

#small-logo {
    width: 8%;
    display: block;
    margin: 1px auto;
}

/* Additional styles for numbering, home button, and small logo */

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
}

.home-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-family: 'Charter Regular', sans-serif;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.home-button:hover {
    text-decoration: underline;
}

/* Additional styles for bold and bigger article titles */

ul li {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 0.5px solid #ccc;
    padding-bottom: 5px;
}

ul li a {
    color: #000000;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

#article-image {
    max-width: 100%;
    height: auto;
}

/* Add these styles for the article text */
#article-text {
    font-size: 21px;
    line-height: 1.6;
}

/* Additional styles for paragraph spacing and indentation */
#article-text p {
    margin-bottom: 10px;
    text-indent: 15px;
}

/* Additional styles for centering and button size */

#pagination {
    text-align: center;
}

/* Add these styles for the new content */
.additional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.additional-content img {
    width: 1.5px; /* Adjust the width of the additional image */
    height: auto;
}

.additional-text {
    font-family: 'Charter Regular', sans-serif;
    font-size: 10px; /* Adjust the font size as needed */
    margin-top: 5px; /* Adjust the margin as needed */
}
